/*Stretch CSS Framework*/

*{
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: gray;
}

header{
    
}

footer{
    
}

h1{
    margin-bottom: 15px;
}

body{
    margin-left: auto;
    margin-right:auto;
    width: 70%;
    padding: 5%;
    background-color: white;
}

/*GRID CLASSES*/
.mono{
    display: grid;
    grid-template-columns: 100%;
    
}

.duo{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.trio{
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.quad{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}
/*GRID CLASSES*/

.cf>img{
    width: 100%;
}

.cf{
   
    padding: 15px;
    border: 1px solid black;
   
}

.cl{
    padding: 15px;
    border: 1px solid black;
   

}

.cr{
    padding: 15px;
   border: 1px solid black;
  
}

